@import "tailwindcss";


body{
    background-color:black;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    border: none;
}


@keyframes borderFlow {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; }
}

